folium==0.14.0
haversine==2.7.0
inflection==0.5.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy==1.24.3
pandas==1.5.3
pillow==9.4.0
plotly==5.10.0
streamlit==1.21.0
streamlit-folium==0.12.0